#carefor
    padding: 40px 0
    .textbox
        h1
            font-weight: 700
            font-size: 60px
            margin: 0 0 10px
        h4
            color: #a8a8a8
            font-size: 24px
    .imgbox
        width: 500px
    @media screen and ( max-width: 992px )
        .textbox
            h1
                font-size: 40px
            h4
                font-size: 18px
        .imgbox
            width: 330px
    @media screen and ( max-width: 768px )
        .textbox
            width: 200px
        .imgbox
            width: 200px
    @media screen and ( max-width: 576px )
        .textbox
            h1
                font-size: 20px
            h4
                font-size: 14px
